[submodule "path_to_submodule"] 
  path = path_to_submodule 
  url = git://url-of-source/
  
[submodule "package/lienol"] 
  path = package/lienol
  url = git://https://github.com/Lienol/openwrt-package/ 
